.main
  .main__inner
    .main__inner__top
    .main__inner__contents
      %ul
        %li
          .photo
          .contents
            .contents--name
             西澤政徳
            .contents--date
              2020/5/23
            .contents--title
              国道299
        %li
        %li
        %li
        %li