.main
  .main__inner
    %ul.contents
      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム
  
      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム

      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム
      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム
      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム
      %li.post
        .post__title
          国道299
        .post__user
          平八
        .post__time
          2020.5.29
        .post__image

        .post__text
          語り屋さんチーム
