.main
  .main__inner
    %ul.contents
      %li.post
        .post__image
          %img{:src => "https://www.nikon-image.com/products/mirrorless/lineup/z_50/img/sample/pic_01_l.jpg"}/
        .post__content
          .post__content__title
            = link_to "国道299"
          .post__content__user
            .post__content__user__sumnail

            .post__content__user__name
              平八
          .post__content__text
            語り屋さんチーム
          .post__content__time
            2020.5.29
          
