.main
  .main__inner
    .main__inner__top
    .main__inner__contents
      %ul
        %li
         .photo
         .name
         .date
         .title
        %li
        %li
        %li
        %li