.main
  .main__inner
    .main__inner__top
    .main__inner__contents
      %ul
        %li
          .photo
          .contents
            .contents--title
              国道299
            .contents__acount
              .contents__acount--name
                西澤政徳
              .contents__acount--date
                2020/5/23
        %li
        %li
        %li
        %li