.header{
  border: 1px solid black;
  &__inner{
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    &__right{
      margin-left: 30px;
    }
    &__left{
      margin-right: 30px;
      font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
    }
  }
}