// ヘッダー

.header{
  border: 1px solid black;
  &__inner{
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
      margin-left: 30px;
    }
    &__center{
      font-size: 45px;
    }
    &__right{
      margin-right: 30px;
      
    }
  }
}

// メインページ

.main{
  &__inner{
    .contents{
      display: flex;
      margin: 30px auto;
      .post{
        height: 30%;
        width: 30%;
        display: block;
        &__image{
          height: 50%;
          width: 50%;
          img{
            height: 50%;
            width: 50%;
          }
        }
        &__title{

        }
        &__user{

        }
        &__time{

        }
      }
    }
  }
}
// フッター