// ヘッダー

.header{
  border: 1px solid black;
  &__inner{
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
      margin-left: 30px;
    }
    &__center{
      font-size: 45px;
    }
    &__right{
      margin-right: 30px;
      
    }
  }
}

// メインページ
.main{
  &__inner{
    margin: 60px;
    .contents{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .post{
        width: 25vw;
        height: 40vh;
        pa: 30px;
        border: 1px black solid;
        display: block;
        &__title{
          text-align: center;
          font-size: 20px;
        }
        &__user{
          text-align: end;
          margin: 10px;
        }
        &__image{
          margin: auto;
          border: cadetblue 1px solid;
          width: 70%;
          height: 70%;
          display: block;
        }
        &__time{
          text-align: right;
          font-size: 10px;
        }
      }
    }
  }
}
// フッター