// ヘッダー

.header{
  border: 1px solid black;
  &__inner{
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
      margin-left: 30px;
    }
    &__center{
      font-size: 45px;
    }
    &__right{
      margin-right: 30px;
      
    }
  }
}

// メインページ

// フッター